* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
#header {
  position: sticky;
  display: flex;
  align-items: center;
  background-color: rgb(240, 210, 175);
  height: 30%;
  width: 90%;
  margin: auto;
}
nav > ul {
  display: flex;
  list-style: none;
  width: 50vw;
  margin: auto;
}
.nav-link {
  margin: auto;
  font-size: 4rem;
}
